#wrapper {
    margin: 0px auto;
    height: 1000px;
    width: 1000px;
    background: linear-gradient(#014550, #0166B0)
}

#header {
    height: 200px;
    width: 100%;
}

#headtop {
    height: 10px;
    width: 96%;
    font: "Arial";
    font-size: 12px;
    text-align: right;
}
#headtop p{
    display: inline;
    font-size: 18px;
    
    color: #FFFFFF;
}
#headtop a {
    color: gold;
    font-size: 18px;
}

#headmid {
    height: 50%;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}

#headbottom {
    height: 10%;
    width: 80%;
    text-align: center;
    padding: 20px;
    background-color: #2364A9;
    float: right;
    border-radius: 5px;
    margin-right: 90px;
}

#headbottom a{
    color: white;
    padding: 18px;
    font-size: 20px;
    text-decoration: none;
}

#logo {
    width: 300px;
    height: 100%;
    float: left;
    display: inline-block;
}
#logo img{
    height: 100%;
    width: 100%;
}
#ahh{
    width:100%;
    height: 90%;
    padding: 20px;
    box-sizing: border-box;
}
#searchbar {
    width: 300px;
    height: 100%;
    float: right;
    display: inline-block;
    background-color: #3A3939;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
}

#searchtext {
    text-align: center;
    
}

.searchbutton{
    background-color: #516999;
    color: #FFFFFF;
    border-radius: 5px;


}

/* .button { 
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 5px black;
    border-radius: 18px;
    margin-left: 0px auto;
    margin-right: 0px auto;
    position: relative;
}

.leftbutton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 5px black;
    border-radius: 18px;
    margin-left: 0px auto;
    margin-right: 0px auto;
    position: relative;
}

.rightbutton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 5px black;
    border-radius: 18px;
    margin-left: 0px auto;
    margin-right: 0px auto;
    position: relative;
} */

#body {
    height: 400px;
    /* margin-bottom: 20px; */
}

#links {
    width: 250px;
    height: 200px;
    display: inline-block;
    float: left;
    text-align: center;
    color: #FFFFFF;
}

#links ul li{
    padding: 10px;
}

#Bio {
    width: 700px;
    height: 100%;
    display: inline-block;
    float: right;
    text-align: center;
}

#Bio p {
    color: #FFFFFF;
}

#Bio h2 {
    color: gold;
    font-style: italic;
}
#Bio h3{
    color: white;
    font-weight: normal;
}
#links ul li a{
    color: white;
}
#info {
    height: 250px;
    background-color: white;
    /* margin-top:15px; */
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10px
}

.gap{
    height: 100%;
    width: 75px;
    display: inline-block;
}

#leftcontainer {
    border-top: 5px solid #2E62D1;
    display: inline-block;
    width: 400px;
    height: 90%;
    float: left;
    background-color: white;
    text-align: center;
    
}

#leftcontainer li a{
    color: #64A9BE;
}

#leftcontainer li{
    list-style-type: square;
}

#divider{
    width: 40px;
    height: 100%;
    margin: 0px auto;
    display: inline-block;
}

#rightcontainer {
    border-top: 5px solid #2E62D1;
    display: inline-block;
    width: 400px;
    height: 90%;
    float: right;
    background-color: white;
    text-align: center;
}

#rightcontainer li {
    list-style-type: square;
}

#rightcontainer li a{
    color: lightblue;

}

#footer {
    height: 100px;
    text-align: center;
    padding: 35px;
}

#footer a{
        color: white;
        padding: 18px;
        font-size: 20px;
        box-sizing: border-box;
        text-decoration: none;
}

#Copyright {
    color: white;
    font-size: 10px;
}